{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        slidesPerView: 4.15,
        spaceBetween: 20,
        touchMove: true,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{% endblock %}

{% block content %}
<!-- Slider main container -->
    <div class="swiper" style="width: 1100px; margin: 0 auto">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <a href="#" class="swiper-slide cover">
                <img src="https://cdn.spbdnevnik.ru/uploads/block/image/579267/__medium_%D0%B1%D1%83%D0%B7%D0%BE%D0%B2%D0%B0%D0%B8%D0%BD%D1%81%D1%82%D0%B0.jpg.jpg" alt="" class="cover__image">
                <p class="cover__text">Ольга Бузова - Без дел</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://images.genius.com/45210e03ecd147f3669dd88b0783fe02.1000x1000x1.jpg" alt="" class="cover__image">
                <p class="cover__text">INSTASAMKA - LIPSI HA</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://i1.sndcdn.com/artworks-EzjxLXEoh3HrwO2I-igRPIQ-t500x500.jpg" alt="" class="cover__image">
                <p class="cover__text">Lady Gaga - Rain on me</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://via.placeholder.com/350" alt="" class="cover__image">
                <p class="cover__text">Название песни 4</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://via.placeholder.com/350" alt="" class="cover__image">
                <p class="cover__text">Название песни 5</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://via.placeholder.com/350" alt="" class="cover__image">
                <p class="cover__text">Название песни 6</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://via.placeholder.com/350" alt="" class="cover__image">
                <p class="cover__text">Название песни 7</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://via.placeholder.com/350" alt="" class="cover__image">
                <p class="cover__text">Название песни 8</p>
            </a>
            <a href="#" class="swiper-slide cover">
                <img src="https://via.placeholder.com/350" alt="" class="cover__image">
                <p class="cover__text">Название песни 9</p>
            </a>
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
{% endblock %}