{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        slidesPerView: 4.15,
        spaceBetween: 20,
        touchMove: true,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="warning-message">
                <p class="warning-message__text">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <h1>Последние опубликованные</h1>
    {% if track_list %}
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for track in track_list %}
                <a href="{{ track.get_absolute_url }}" class="swiper-slide cover">
                    <img src="static/cover.png" alt="" class="cover__image">
                    <p class="cover__text">{{ track.published_by }} - {{ track.name }}</p>
                </a>
            {% endfor %}
            </div>
            <!-- Кнопки навигации -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% else %}
        <p>На данный момент нет ни одного опубликованного трека.</p>
    {% endif %}
{% endblock %}