{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
    <div class="container__form">
        <h1>Вход</h1>
        {% if message %}
            <div class="warning-message">
                <p class="warning-message__text">{{ message }}</p>
            </div>
        {% endif %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Log-in"></p>
            <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a>.</p>
        </form>
    </div>
{% endblock %}